<!DOCTYPE html>
<html lane="en">
    <head>
        <title>signup test</title>
    </head>
    <body>
        <form method="post" action="/signup">
            <fieldset style = "width:150">
                <legend>Enter signup infomation</legend>
                    StudentId : <input type="text" name="studentid" placeholder=" 20140449 "><br><br>
                    PhoneNumber : <input type="text" name="phonenumber" placeholder="01012344567 (no \'-\')"><br><br>
                    FirstName : <input type="text" name="firstname" placeholder="juhee"><br><br>
                    LastName : <input type="text" name="lastname" placeholder="lee"><br><br>
                    Password : <input type="password" name="password" placeholder="Password"><br><br>
                    <button type="submit">signup</button><br><br>
            </fieldset>
        </form>
    </body>
</html>


