<!DOCTYPE html>
<html lane="en">
    <head>
        <title>withdraw test</title>
    </head>
    <body>
        <form method="post" action="/withdraw">
            <fieldset style = "width:150">
                <legend>Enter withdrawal infomation</legend>
                    StudentId : <input type="text" name="studentid" placeholder=" 20140449 "><br><br>
                    PhoneNumber : <input type="text" name="phonenumber" placeholder="01012344567 (no \'-\')"><br><br>
                    Password : <input type="password" name="password" placeholder="Password"><br><br>
                    <button type="submit">ok</button><br><br>
            </fieldset>
        </form>
    </body>
</html>


